.pokemonContainer {
    position: relative;
    border: gray solid 1px;
    width: 200px;
    margin: 20px auto;
}

.pokemonImg {
    width: 80%;
    object-fit: cover;
    padding: 20px;
}

.pokemonName {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.pokemonNumber {
    position: absolute;
    top: -17px;
    left: -1px;
    background: black;
    color: white;
    padding: 5px;
}