.pokemonContainer {
    position: relative;
    border: gray solid 1px;
    width: 230px;
    margin: 20px auto;
}

.pokemonImg {
    width: 200px;
    object-fit: cover;
    padding: 20px;
}

.pokemonName {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}

.pokemonNumber {
    position: absolute;
    top: -16px;
    left: 0;
    background: black;
    color: white;
    padding: 5px;
}