.searchContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
}

form {
    text-align: center;
    margin: 20px;
}

.searchInput {
    display: block;
    margin: auto;
}

.pokemonNotFound {
    text-align: center;
}